
.header{
    background-color: rgb(252, 214, 214);
    background-color: #d2c7e7;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60px;
    margin: 0;
    index: 0;
}