.mainLeft{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font: bold;
    font-style:bold;
    align-items: center;
    justify-content: space-evenly;
    
}

.mainLeft img{
    height: 40px;
}
.mainLeft img:hover{
    cursor: pointer;
    background-color: lightslategray;
    height: 40px;
    border-color: black;
    border-radius: 3px;
    border-width: 15px;
}

.mLContain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.mLContain:hover{
    cursor: pointer;
    background-color: lightslategray;
    height: 40px;
    border-color: black;
    border-radius: 3px;
    border-width: 15px;
}


