.mainLeft{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font: bold;
    font-style:bold;
    align-items: center;
    justify-content:flex-start;
    transition: all .2s ease-in-out;
}

.mainLeft img{
    margin: 0 10px;
}

.mlImage{
    height: 40px;
    transition: all .2s ease-in-out;
}

.mlImage2{
    height: 20px;
    transition: all .2s ease-in-out;
}
.mlImage2:hover{
    cursor: pointer;
}


.adjPic{
padding-bottom: 2px ;
}

.adjPic2{
    padding-bottom: 2px ; 
}

.adjPic3{
    padding-bottom: 1px ; 
}

