.mainLeft{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font: bold;
    font-style:bold;
    align-items: center;
    justify-content:flex-start;
}

.mlImage{
    height: 40px;
}

.mlImage2{
    height: 30px;
}
.mlImage2:hover{
    height: 35px;
    cursor: pointer;

}

.mLContain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.adjPic{
padding-bottom: 2px ;
}

.adjPic2{
    padding-bottom: 3px ; 
}

.adjPic3{
    padding-bottom: 1px ; 
}

