.product{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    transition: all .2s ease-in-out;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    background-color: rgb(255, 161, 161);
    background-color: #d2c7e7;
    background-color: aliceblue;;
    background-color: white;
}
.product:hover{
    box-shadow: 0 0 5px black;
    background-color: aliceblue;;
}

.image1{
    height: 250px;
    width: 200px;
    font-weight: bold;
    object-fit:fill;

    border-radius: 20px;
    background-color: aliceblue;;
    background-color: white;
}

.productPrice{
    margin-top: 20px;
}