.product{
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    transition: all .2s ease-in-out;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    background-color: white;
}
.product:hover{
    box-shadow: 0 0 5px black;
    background-color: aliceblue;;
}

.product div{
    margin-left: 10px;
}



.image1{
    width: 200px;
    height: 230px;
    font-weight: bold;
    object-fit:fill;

    border-radius: 20px;
    background-color: aliceblue;;
    background-color: white;
}

.productCat2{
padding-bottom: 3px;
color: darkgrey;
}

.productTitle{
    height: 100px;
    align-items: center;
    font-size: large;
}

.productPrice{
    margin-top: 2px;
}

.productRating{
   margin-left: 10px;
}